{{item.name}}
<!--<div class="listRow">
    <input type="hidden" id="rank"" value="{{item.listIndex}}" type="number">
    <div class="quantityInput">
        <input name="quantity" class="form-control" placeholder="quantity" type="number" ng-model="item.quantity">
    </div>
    <div class="nameInput">
        <input name="name" type="text" class="form-control" placeholder="name" ng-model="item.name">
    </div>
</div>-->



<!--<div class="closeContainer">
    <img class="close" ng-src="img/closeButton.png">
</div>
<h2 class="itemTitle">{{ item.Name }}
<div class="checkContainer"> 
    <img class="close" ng-src="img/closeButton.png">
</div>-->