<html lang="en">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <title>Listbuilder</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content=""> 
        <link rel="shortcut icon" type="image/png" href="listbuilder/img/favicon(6).ico"/>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="listbuilder/style/listbuilder.css"/>
    </head>    
    <body ng-app="ListBuilderApp" ng-controller="mainCtrl">
        <div id="topBar">
            <p>ListBuilder</p>
            <button id="mobile_reset_btn" ng-click="Reset()">Reset</button>
        </div>
        <div>
            <div id="collapsable">
                <div id="listEntry">
                    <p>Enter your list below. Split by commas to generate it automatically.</p>
                    <textarea id="listEntryArea" placeholder="Start your list"  rows="10" cols="80" ng-model="initialEntry"></textarea>
                    <button id="formList" class="button" ng-click="FormList()">Form List</button>
                </div>
            </div>
            <div id="mobile_add_btn" ng-click="AddListItem()">
                <p>+</p>
            </div>
            <div id="listSectionContainer">
                <div id="additionalButtons">
                    <div id="listModifiersContainer">
                        <button id="add_btn" class="button listModifier" ng-click="AddListItem()">Add Item</button>
                        <button id="showHide" class="button" onclick="ShowHide()">Show Bulk Editor</button>
                        <button id="clear_btn" class="button listModifier" ng-click="Reset()">Reset List</button>
                    </div>
                </div>
                <div id="listContainer">
                    <div class="listItem" >
                        <div>
                            <div ng-repeat="item in finalList">
                                <lb-row lb-items="finalList" lb-item="item"></lb-row>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            
            var buttons = document.getElementById("additionalButtons");
            var collapsingSection = document.getElementById("collapsable");
            $('#collapsable').hide();
            
            function ShowHide(){
                 $('#collapsable').slideToggle();
                var btn_showHide = document.getElementById("showHide");

                if($('#showHide').text() == "Show Bulk Editor"){
                    $('#showHide').text("Hide");
                    $('#listEntryArea').focus();
                    $('#mobile_add_btn').hide();
                }else{
                    $('#showHide').text("Show Bulk Editor");
                    $('#mobile_add_btn').show();
                }   
            }
            
        </script>
       <!--Angular Scripts-->
        <script src="listbuilder/js/app.js"></script>
        <script src="listbuilder/js/Controller.js"></script>
        <script src="listbuilder/js/focus.js"></script>
        <script src="listbuilder/js/lbRow.js"></script>
    </body>
</html>